.sidebar.sidebar-nav {
    width: 250px;
    padding: 0;
    z-index: 2;
    background-color: #F7F7F7;
    border-right: 1px solid #CCCCCC;
}

.sidebar.sidebar-nav * {
    word-break: break-word;
}

.sidebar.collapsible {
    transition: width 250ms;
    padding-bottom: 35px;
    position: relative;
}

.sidebar.collapsible.collapsed {
    width: 35px;
}

.sidebar.collapsible > .toggle {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    height: 35px;
    width: 100%;
    bottom: 0;
    padding: 0 10px;
}

.sidebar.collapsible > .toggle > i.fa {
    font-size: 1.5em;
}