<p id="imminentlyExpiringPasswordMessage">
    Your password for the <i>InSite Clinical Workbench</i> will expire soon.<br/>
    <br/>
    Please <a th:href="${change_password_url}">click here</a> to choose a new password.<br/>
    <br/>
    Note that if you do not choose a new password before <span th:text="${#dates.format(expiration_date, 'd MMMM yyyy')}"></span>,
    you will no longer be able to log in using your current password. You can then use the password recovery page to choose a new password.<br/>
    <br/>
    If the link above does not work, you can change your password by logging in to the <i>InSite Clinical Workbench</i> and navigating to your profile page via the user menu.
</p>