<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>EHR2EDC</title>
    <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/global/img/favicon/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">


    <link rel="stylesheet" media="screen" href="/assets/css/main.css"/>
    <link rel="stylesheet" media="screen" href="/assets/css/app.css"/>
    <link rel="stylesheet" media="screen" href="/assets/css/fira-sans/font.css"/>
    <link rel="stylesheet" media="screen" href="/assets/css/fontawesome/font-awesome.min.css"/>

    <link rel="shortcut icon" href="/assets/global/img/favicon/favicon.ico"/>
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/global/img/favicon/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/global/img/favicon/favicon-192.png"/>
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/global/img/favicon/favicon-160.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/global/img/favicon/favicon-96.png"/>
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/global/img/favicon/favicon-64.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/global/img/favicon/favicon-32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/global/img/favicon/favicon-16.png"/>

    <link rel="apple-touch-icon" href="/assets/global/img/favicon/favicon-57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/global/img/favicon/favicon-114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/global/img/favicon/favicon-72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/global/img/favicon/favicon-144.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/global/img/favicon/favicon-60.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/global/img/favicon/favicon-120.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/global/img/favicon/favicon-76.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/global/img/favicon/favicon-152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/global/img/favicon/favicon-180.png"/>

    <link rel="stylesheet" media="screen" href="/assets/global/css/jquery-ui.css"/>
</head>
<body>
<div class="grid-frame vertical">
    <div class="grid-block">
        <div class="grid-block ehr2edc-studies"></div>
    </div>
</div>
<script>
    var data = {
        emptyMessage: "No EHR2EDC studies are found.",
        errorMessage: "EHR2EDC Studies failed to load.",
        studyListUrl: "/ehr2edc/study/",
        studyPageUrl: "/app/ehr2edc/studies",
    };
    $(document).ready(function () {
        appendEhr2EdcStudies($(".ehr2edc-studies")[0], data);
    });
</script>
<script type="text/javascript" th:src="@{/build/bundle.js}"></script>

</body>
</html>