<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="10">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{HH:mm:ss,SSS} | %p | %c | %m%n
                </pattern>>
            </PatternLayout>
        </Console>
        <Console name="EHR2EDC" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{HH:mm:ss,SSS} | %X{trackingId} | %X{subjectId} | %m%n
                </pattern>
            </PatternLayout>
        </Console>
        <Console name="JSON" target="SYSTEM_OUT">
            <JsonLayout objectMessageAsJsonObject="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.custodix.ciam.audit.common.client.protocol" level="INFO"/>
        <Logger name="directConstruction.AbstractQueryExecutor" level="INFO"/>
        <Logger name="directConstruction.CancelStatementProxy" level="ERROR"/>
        <Logger name="ehr4cr.logic.query" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="com.zaxxer.hikari" level="WARN"/>
        <Logger name="net.sf.ehcache.pool.sizeof.ObjectGraphWalker" level="ERROR"/>
        <Logger name="org.apache.cxf.frontend.AbstractWSDLBasedEndpointFactory" level="ERROR"/>
        <Logger name="org.apache.cxf.ws.addressing" level="ERROR"/>
        <Logger name="com.custodix.insite.local.ehr2edc.query.executor.common.query" level="TRACE">
            <AppenderRef ref="EHR2EDC"/>
        </Logger>
        <Logger name="com.custodix.insite.local.ehr2edc.populator" level="TRACE">
            <AppenderRef ref="EHR2EDC"/>
        </Logger>
        <Logger name="com.custodix.insite.local.ehr2edc.infra.edc.rave.LoggingRequestInterceptor" level="TRACE">
            <AppenderRef ref="EHR2EDC"/>
        </Logger>
        <Logger name="com.custodix.insite.local.ehr2edc.infra.edc.openclinica.LoggingRequestInterceptor" level="TRACE">
            <AppenderRef ref="EHR2EDC"/>
        </Logger>
        <Logger name="com.custodix.util.security.CXFSecurityUtils" level="ERROR"/>
        <Logger name="com.custodix.insite.local.infra.JSONLogger" level="INFO">
            <AppenderRef ref="JSON"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>